body{
    background-color: beige;
    margin: 0;
    padding: 0;
    color: #242424;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 900;
    color: #000;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
}

main{
    display: block;
    background-color: beige;
}

.container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}

section.module p{
margin-bottom: 40px;
font-size: 20px;
}
section.module:last-child{
    margin-bottom: 0;
}

section.module h2{
    margin-bottom: 40px;
    font-size: 30px;
}

section.module.content{
    padding: 40px 0;
    background-color: white;
}

section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh ! important;
    width:100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}



section.module.parallax-1{
    background-color: #272727;
}


section.module.parallax::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100%);
    background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100%);
}

section.module.parallax-2{
    background-image: url(../img/minha_foto.jpg);
}

section.module.parallax-3{
    background-image: url(../img/foto-2.jpg);
}

section.module.parallax-4{
    background-color: #272727;
}


section.module.parallax h1{
    color:beige;
    text-align: center;
    font-size: 50px;
    z-index: 50;
    text-transform: uppercase;
}

.texto-1,.texto-2,.texto-3,.texto-4{
    visibility: hidden;
}


/* Código dos cards dos projetos */

.direction-card{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}


.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 270px;
    height: 200px;
    position: relative;
    background-color: #000;
    border: 10px solid black;
    border-radius: 20px;
    box-shadow: 0px 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
    color: beige;
}

.card img {
    width: 100%;
    max-width: 250px; /* você pode ajustar esse valor conforme quiser */
    height: auto;
    border-radius: 10px; /* se quiser deixar arredondado também */
}


.card:hover {
    height: 420px;
}

.card .img-box {
    position: absolute;
    width: 250px;
    height: 250px;
    top: 0px;
    transition: 0.5s;
}

.card:hover .img-box {
    top: -20px;
    scale: 0.75;
}

.card .img-box img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 7%;
}

.card .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    position: absolute;
    top: 250px;
    width: 100%;
    padding: 0px 30px;
    text-align: center;
    height: 30px;
    overflow: hidden;
    transition: 0.5s;
}

.card:hover .content {
    top: 175px;
    height: 270px;
}
.card a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: beige;
    border-color: white;
    border-radius: 5px;
    width: 30%;
    height: 10%;
    margin-top: -15%;
    color: black;
}

.direction-icons{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}


.email img{
    height: 10vh;

}

.linkedin img{
    height: 12vh;
    margin-top: -9%;
}

.github img{
    height: 8vh;
    margin-top: 0%;
    border-radius: 30%;
    padding: 5px;
}