body{
    font-family: Helvetica;
}

.Setor,.Produtos,.Precos,.Codigos{
    background-color: black;
    color: white;
}

tbody td:first-child {
    background-color: rgb(44, 44, 44);
    color: white;
    border: rgb(97, 97, 97) 3px solid;
    font-weight: bold;
    text-align: center;
  }

  tbody td:nth-child(2) {
    background-color: rgb(16, 2, 82);
    color: white;
    border: rgb(97, 97, 97) 3px solid;
    font-weight: bold;
    text-align: center;
  }

  tbody td:nth-child(3) {
    background-color: rgb(121, 119, 23);
    color: white;
    border: rgb(97,97,97) 3px solid;
    font-weight: bold;
    text-align: center;
  }

  tbody td:nth-child(4) {
    background-color: rgb(109, 10, 10);
    color: white;
    border: rgb(97, 97, 97) 3px solid;
    font-weight: bold;
    text-align: center;
  }

  .lista_produtos{
    display: block;
    float: right;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: -100%;
    margin-right: 35%;
    border: 1px solid black;
    background-color: rgba(172, 172, 172, 0.596);
    text-align: center;
    width: 20%;
  }

  .formulario{
    display: flex;
    float: right;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: -100%;
  }

    .formulario2{
    display: flex;
    float: right;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: -95%;
    margin-right: 5%;
    }

    .formulario2 a{
      width: 100vw;
      height: 10vh;
    }

  .total{
    font-size: 20px;
    color: red;
  }
  
  .item_lista{
    font-size: 20px;
  }